*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background: #FFF5EE;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font: 100% "Rufina", sans-serif;
  font-weight: normal;
}

p, a {
  font: 100% "Poppins", sans-serif;
  font-weight: normal;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
header.sticky {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s ease-in-out;
}
header .nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: min(100%, 1200px);
  margin: auto;
  padding: 15px 10px;
}
header .nav__menu, header .nav__shop {
  display: none;
  font-size: 1.5rem;
  align-items: center;
}
header .nav__logo span {
  font-family: "Rufina", sans-serif;
  font-size: 1.75rem;
  white-space: nowrap;
}
header .nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .nav__links__close {
  display: none;
  font-size: 1.5rem;
}
header .nav__links ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}
header .nav__links a {
  color: #121212;
}
header .nav__links__cta {
  border: 2px solid;
  padding: 10px 25px;
  text-align: center;
}
@media only screen and (max-width: 720px) {
  header .nav {
    justify-content: space-between;
  }
  header .nav__links {
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2.5rem;
    background: #fafafa;
    top: 0;
    left: -500px;
    width: min(100%, 250px);
    height: 100vh;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: 0.3s ease-in-out;
  }
  header .nav__links__close {
    display: block;
    font-size: 2rem;
    text-align: end;
  }
  header .nav__links.active {
    left: 0;
  }
  header .nav__links ul {
    flex-direction: column;
    padding: 0;
  }
  header .nav__links .cta {
    border: none;
    padding: 0;
  }
  header .nav__menu, header .nav__shop {
    display: flex;
  }
}

.home__wrapper {
  width: min(100%, 1200px);
  padding: 75px 10px 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__wrapper__content {
  width: min(100%, 625px);
}
.home__wrapper__content h1 {
  font-size: 4rem;
  font-size: clamp(2.5rem, 0.625rem + 6vw, 4rem);
  margin-bottom: 1rem;
  line-height: 1;
}
.home__wrapper__content h1 span {
  font-family: "Dancing script", cursive;
  font-size: 5rem;
  font-size: clamp(3rem, 0.5rem + 8vw, 5rem);
  color: #ff8667;
}
.home__wrapper__content p {
  line-height: 2;
  margin-bottom: 2rem;
  color: #808080;
}
.home__wrapper__content .cta {
  border: 1px solid #121212;
  background: #121212;
  color: #fff;
  padding: 10px 25px;
}
.home__wrapper__content .cta svg {
  color: #fff;
}
.home__wrapper__image {
  width: min(100%, 500px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home__wrapper__image::before {
  content: "";
  position: absolute;
  width: min(100%, 350px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ff8667;
  transform: translate(-50%);
  left: 50%;
}
.home__wrapper__image img {
  width: 100%;
  max-width: 200px;
  position: relative;
}
.home__wrapper__image .one {
  left: 100%;
  -webkit-animation: rotateleft 1s ease 1s, fadeIn 1s ease;
          animation: rotateleft 1s ease 1s, fadeIn 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.home__wrapper__image .two {
  -webkit-animation: fadeIn 1s ease;
          animation: fadeIn 1s ease;
}
.home__wrapper__image .three {
  left: -100%;
  -webkit-animation: rotateright 1s ease 1s, fadeIn 1s ease;
          animation: rotateright 1s ease 1s, fadeIn 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes rotateleft {
  to {
    transform: rotate(-20deg);
    left: 50%;
  }
}
@keyframes rotateleft {
  to {
    transform: rotate(-20deg);
    left: 50%;
  }
}
@-webkit-keyframes rotateright {
  to {
    transform: rotate(20deg);
    left: -50%;
  }
}
@keyframes rotateright {
  to {
    transform: rotate(20deg);
    left: -50%;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 720px) {
  .home__wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: min(100%, 1200px);
  margin: auto;
  padding: 20px 10px;
}
.services__wrapper__card {
  max-width: 450px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.services__wrapper__card i {
  font-size: 3rem;
}
.services__wrapper__card span {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.services__wrapper__card p {
  color: #808080;
  line-height: 25px;
  font-size: 0.9rem;
}
@media only screen and (max-width: 720px) {
  .services__wrapper {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */