.home{

    &__wrapper{
        padding: 20px 10px;
        width: min(100%, 1200px);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__content{
            width: min(100%, 650px);

            h1{
                font-size: 4rem;
                font-size: clamp(2.5rem, 0.625rem + 6vw, 4rem);
                margin-bottom: 1rem;
                line-height: 1;
                span{
                    font-family: 'Dancing script';
                    font-size: 5rem;
                    font-size: clamp(3rem, 0.5rem + 8vw, 5rem);
                    color: rgb(255, 118, 141);
                }
            }

            p{
                line-height: 2;
                margin-bottom: 2rem;
                color: #808080;
            }

            .cta{
                border: 1px solid #121212;
                background: #121212;
                color: #fff;
                padding: 10px 25px;
                font-weight: 500;
                svg{
                    color: #fff;
                }
            }
        }

        &__image{
            width: min(100%, 700px);
            display: flex;
            align-items: center;
            z-index: -1;

            img{
                width: 100%;
                max-width: 200px;
                position: relative;
            }

            .one{
                translate: 100%;
                animation: rotateleft 1s ease 1s, fadeIn 1s ease;
                animation-fill-mode: forwards;
            }

            .two{
                animation: fadeIn 1s ease;
            }

            .three{
                translate: -100%;
                animation: rotateright 1s ease 1s, fadeIn 1s ease;
                animation-fill-mode: forwards;
            }

            @keyframes rotateleft {
                to{
                    rotate: -20deg;
                    translate: 50%;
                }
            }

            @keyframes rotateright {
                to{
                    rotate: 20deg;
                    translate: -50%;
                }
            }

            @keyframes fadeIn {
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }

        }

        @media screen and (max-width:720px) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    
}



    
